# Python önbellek dosyaları
__pycache__/
*.pyc

# Sanal ortam klasörleri (kullanıyorsan)
.venv/
venv/
env/

# JUPYTER NOTEBOOK ÖNBELLEKLERİ
.ipynb_checkpoints/

# VERİLERİ REPOYA ALMIYORUZ
data/raw/
data/processed/
*.csv
*.ulg

# IDE Ayarları
.vscode/
.idea/