
#Büyük Veriler Drive'da Saklanacak
data/raw/
data/processed/aligned_flights/
data/processed/attack_master_pool/
data/processed/cleaned_train/
data/processed/attack_categories/
data/processed/backup_inconsistent/

# PyTorch ve Python Önbellekleri
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Sanal Ortam ve IDE Yapılandırmaları
.ipynb_checkpoints/
.vscode/
.idea/
uav_anomaly/