# Kurulum: pip install -r requirements.txt
streamlit==1.58.0
pandas==2.3.3
numpy==1.26.4
torch==2.5.1+cu121
torchvision==0.20.1+cu121
torchaudio==2.5.1+cu121
captum==0.9.0
scikit-learn==1.7.2
matplotlib==3.10.9
plotly==6.8.0
pyulog==1.2.2
huggingface_hub==1.19.0